Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

add resolutions
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

change source api version
  sfdx-project.json
Due: prettier --write

change api version
  .eslintrc.yml
  cumulusci.yml
  yarn.lock
Due: prettier --write, cspell, lockfile-lint

resolve eslint issue
  force-app/main/default/lwc/util/__tests__/util.test.js
Due: prettier --write, cspell, eslint

solving jest issue
  force-app/main/default/lwc/flowNavigateToRecord/__tests__/flowNavigationToRecord.test.js
Due: prettier --write, cspell, eslint

modified communities.py
  dev/tasks/communities.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

python formatting
  dev/tasks/communities.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

resolving communities.py formatted error
  dev/tasks/communities.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Create codeowners.yml
  .github/workflows/codeowners.yml
Due: prettier --write, cspell

Create codeowners.yml (#82)
  .github/workflows/codeowners.yml
Due: prettier --write, cspell

Removing isotope dependency
  force-app/main/default/layouts/outfunds__Disbursement__c-OFM Disbursement Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Funding_Program__c-OFM Funding Program Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Funding_Request__c-OFM Funding Request Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Requirement__c-OFM Requirement Site Layout.layout-meta.xml
Due: cspell

un-excluding Funding Request ChangeRecordType
  force-app/main/default/layouts/outfunds__Funding_Request__c-OFM Funding Request Site Layout.layout-meta.xml
Due: cspell

W-10330211 Removing isotope dependency (#86)
  force-app/main/default/layouts/outfunds__Disbursement__c-OFM Disbursement Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Funding_Program__c-OFM Funding Program Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Funding_Request__c-OFM Funding Request Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Requirement__c-OFM Requirement Site Layout.layout-meta.xml
Due: cspell

Updates latest release for 240
  README.md
Due: prettier --write, cspell

W-11131367 Fix dependabot issues
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

W-11131367 Fix dependabot issues (#92)
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

W-11726109 Remove help.salesforce and powerofus links
  README.md
Due: prettier --write, cspell

W-11726109 Remove help.salesforce and powerofus links
  cumulusci.yml
Due: prettier --write, cspell

W-11726109 Remove help.salesforce and powerofus links (#94)
  README.md
  cumulusci.yml
Due: prettier --write, cspell

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
