Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Adds Site object pages: Requirement, Disbursement
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Disbursement_Detail.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Disbursement_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Disbursement_Related_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_Detail.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Requirement_Detail.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Requirement_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Requirement_Related_List.flexipage-meta.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
Due: cspell

Adding cumulusci.yml changes from feature/231__view-my-applications
  cumulusci.yml
Due: prettier --write, cspell

Add Submit Application flow
  force-app/main/default/flows/GrantsManagementSubmitApplication.flow-meta.xml
Due: cspell

Removed duplicate layoutAssignments
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
Due: cspell

Update to cumulusci flow name and to Funding Request list
  cumulusci.yml
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_List.flexipage-meta.xml
  force-app/main/default/layouts/outfunds__Funding_Request__c-OFM Funding Request Site Layout.layout-meta.xml
Due: prettier --write, cspell

Updating Custom labels based on Docs review
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Due: cspell

Flows
  cumulusci.yml
  unpackaged/fundseeker_customer_enablement/application_submission/flows/OFMSiteSubmitApplication.flow-meta.xml
  unpackaged/fundseeker_customer_enablement/application_submission/package.xml
Due: prettier --write, cspell

Remove unpackaged nav menu
  cumulusci.yml
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
  unpackaged/fundseeker_customer_enablement/navigation_menu/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
  unpackaged/fundseeker_customer_enablement/navigation_menu/package.xml
Due: prettier --write, cspell

Update NavigationMenu
  cumulusci.yml
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
Due: prettier --write, cspell

Funding Request tab should not be publicly available.
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
Due: cspell

Work to setup robot framework for OBF Community
  cumulusci.yml
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/FundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/FundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_50.py
  robot/OutboundFundsCommunity/resources/locators_51.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

fix for formatting
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/resources/FundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/FundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_51.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

fix for lint
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fix for python formatting
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/FundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_50.py
  robot/OutboundFundsCommunity/resources/locators_51.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fix for prettier
  robot/OutboundFundsCommunity/doc/Keywords.html
Due: prettier --write, cspell

fix for prettier
  cumulusci.yml
Due: prettier --write, cspell

Add quick action and set User OWD to Read
  cumulusci.yml
  unpackaged/fundseeker_customer_enablement/application_submission/package.xml
  unpackaged/fundseeker_customer_enablement/application_submission/quickActions/outfunds__Funding_Request__c.SubmitApplication.quickAction-meta.xml
Due: prettier --write, cspell

Added description to Sharing Set
  unpackaged/fundseeker_customer_enablement/fundseeker_sharing_set/package.xml
  unpackaged/fundseeker_customer_enablement/fundseeker_sharing_set/sharingSets/Fundseeker.sharingSet
  unpackaged/fundseeker_customer_enablement/sharing_set/sharingSets/FundseekerSharing.sharingSet-meta.xml
Due: cspell

Setup Robot Automation in OBF Community (#15)
  cumulusci.yml
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/FundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/FundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_50.py
  robot/OutboundFundsCommunity/resources/locators_51.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Add file manager component
  force-app/main/default/lwc/ofmCommunityFileManager/ofmCommunityFileManager.html
  force-app/main/default/lwc/ofmCommunityFileManager/ofmCommunityFileManager.js
  force-app/main/default/lwc/ofmCommunityFileManager/ofmCommunityFileManager.js-meta.xml
Due: prettier --write, cspell, eslint

small branding updates
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
  stories/common/scripts/update_scratch_org_user.apex
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_hero.asset
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_hero.asset-meta.xml
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_logo.asset
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_logo.asset-meta.xml
  unpackaged/pre/template_content_assets/contentassets/HIVE_Foundation_hero.asset
  unpackaged/pre/template_content_assets/contentassets/HIVE_Foundation_logo.asset
  unpackaged/pre/template_content_assets/package.xml
Due: prettier --write, cspell

Create automation for funding program
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/tests/FundingProgram/FundingProgram.robot
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Temporary updated template tile
  force-app/main/default/staticresources/OFMTemplatePreview1.png
  force-app/main/default/staticresources/OFMTemplatePreviewTile1.png
Due: none

register page cleanup
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
Due: cspell

Making fields required in flow
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
Due: none

Rearrange Funding Request layout
  force-app/main/default/layouts/outfunds__Funding_Request__c-OFM Funding Request Site Layout.layout-meta.xml
Due: cspell

[W-8789244] - Apply to Funding Program (#13)
  force-app/main/default/lwc/__mocks__/lightning/navigation.js
  force-app/main/default/lwc/flowNavigateToRecord/__tests__/flowNavigationToRecord.test.js
  force-app/main/default/lwc/flowNavigateToRecord/flowNavigateToRecord.js
  force-app/main/default/lwc/flowNavigateToRecord/flowNavigateToRecord.js-meta.xml
  stories/dev/dataset/data.sql
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
  unpackaged/post/funding_program_application_flow/package.xml
  unpackaged/post/funding_program_application_flow/quickActions/outfunds__Funding_Program__c.Apply.quickAction-meta.xml
Due: prettier --write, cspell, eslint

small style changes
  force-app/main/default/flexipages/OFM_Portal_Check_Password.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Error.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login_Error.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
Due: cspell

login page style updates
  force-app/main/default/flexipages/OFM_Portal_Error.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Forgot_Password.flexipage-meta.xml
Due: cspell

Adding Requirement ofm is Add Files Visible field
  force-app/main/default/objects/outfunds__Requirement__c/fields/ofm_is_Add_Files_Visible__c.field-meta.xml
Due: cspell

Updating Format on File classes
  force-app/main/default/classes/files/OFMSite_FileController.cls
  force-app/main/default/classes/files/OFMSite_FileSelector.cls
  force-app/main/default/lwc/ofmUtil/ofmUtil.html
Due: prettier --write, cspell

Update cumulusci
  cumulusci.yml
  unpackaged/fundseeker_customer_enablement/application_submission/flows/OFMSiteSubmitApplication.flow-meta.xml
Due: prettier --write, cspell

Logo swap and login background color change
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_logo.asset
Due: cspell

Adding Submit Requirement flow and quick action. - removed prefixes OFMSite_ and ofm from Apex classes and LWCs. - Added LWC jest tests
  force-app/main/default/classes/files/FileController.cls
  force-app/main/default/classes/files/FileController.cls-meta.xml
  force-app/main/default/classes/files/FileSelector.cls
  force-app/main/default/classes/files/FileSelector.cls-meta.xml
  force-app/main/default/classes/files/FileService.cls
  force-app/main/default/classes/files/FileService.cls-meta.xml
  force-app/main/default/classes/services/DatabaseService.cls
  force-app/main/default/classes/services/DatabaseService.cls-meta.xml
  force-app/main/default/classes/services/SecurityService.cls
  force-app/main/default/classes/services/SecurityService.cls-meta.xml
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/communityFileManager/communityFileManager.css
  force-app/main/default/lwc/communityFileManager/communityFileManager.html
  force-app/main/default/lwc/communityFileManager/communityFileManager.js
  force-app/main/default/lwc/communityFileManager/communityFileManager.js-meta.xml
  force-app/main/default/lwc/modal/__mocks__/modal.js
  force-app/main/default/lwc/modal/__tests__/modal.test.js
  force-app/main/default/lwc/modal/modal.css
  force-app/main/default/lwc/modal/modal.html
  force-app/main/default/lwc/modal/modal.js
  force-app/main/default/lwc/modal/modal.js-meta.xml
  force-app/main/default/lwc/util/__tests__/util.test.js
  force-app/main/default/lwc/util/util.js
  force-app/main/default/lwc/util/util.js-meta.xml
  force-app/main/default/objects/outfunds__Requirement__c/fields/Is_Add_Files_Visible__c.field-meta.xml
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
  unpackaged/post/Submit_Requirement_flow/package.xml
  unpackaged/post/Submit_Requirement_flow/quickActions/outfunds__Requirement__c.Submit.quickAction-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell, eslint

Updating field, flow, and quickaction reference
  force-app/main/default/lwc/util/util.js
  force-app/main/default/objects/outfunds__Requirement__c/fields/Is_Add_Files_Visible__c.field-meta.xml
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
  unpackaged/post/Submit_Requirement_flow/quickActions/outfunds__Requirement__c.Submit.quickAction-meta.xml
Due: prettier --write, cspell, eslint

W-8789260: Submit my Application (#16)
  cumulusci.yml
  unpackaged/fundseeker_customer_enablement/application_submission/flows/OFMSiteSubmitApplication.flow-meta.xml
  unpackaged/fundseeker_customer_enablement/application_submission/package.xml
  unpackaged/fundseeker_customer_enablement/application_submission/quickActions/outfunds__Funding_Request__c.SubmitApplication.quickAction-meta.xml
Due: prettier --write, cspell

fix for funding program tests in OBFCommunity
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/FundingProgram.robot
Due: none

Updating classes format and Util jest test
  force-app/main/default/classes/files/tests/FileService_TEST.cls
  force-app/main/default/classes/utils/testUtils/TestUser.cls
  force-app/main/default/lwc/util/__tests__/util.test.js
Due: prettier --write, cspell, eslint

UIpdating Util jest test
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
  force-app/main/default/lwc/communityFileManager/__tests__/data/getHideFilesRequirement.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getRecordFiles.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getShowFilesRequirement.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getUnownedFiles.json
  force-app/main/default/lwc/util/__tests__/util.test.js
  force-app/main/default/lwc/util/util.js
Due: prettier --write, cspell, eslint

Updating Flow
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
  force-app/main/default/lwc/communityFileManager/__tests__/data/getHideFilesRequirement.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getRecordFiles.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getShowFilesRequirement.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getUnownedFiles.json
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
Due: prettier --write, cspell, eslint

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
