Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Update metadeploy/labels_en-GB.json
  metadeploy/labels_en-GB.json
Due: prettier --write

forceignore LWC mocks and tests properly
  .forceignore
Due: none

W-10186674 - [OFM+] Installers: Update Power of Us link to Trailblazer community (#78)
  .forceignore
  README.md
  cumulusci.yml
  metadeploy/labels_de.json
  metadeploy/labels_en-GB.json
  metadeploy/labels_en.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write, cspell

adding ECCN and GUSINFO
  .github/CODEOWNERS
Due: none

Resolving all known depandabot alerts
  yarn.lock
Due: lockfile-lint

resolving axios issue
  yarn.lock
Due: lockfile-lint

resolving ws issue
  yarn.lock
Due: lockfile-lint

updating yarn
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

removing the dependencies from the package.json and adding the package property
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

test changes
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

adding yarn upgrade
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

adding last updates
  yarn.lock
Due: lockfile-lint

Adding axios, trim-newlines and yargs-parser packages
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

add resolutions
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
