Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Adding License to Robot Py files
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityHomePageObject.py
  robot/OutboundFundsCommunity/resources/ContactPageObject.py
  robot/OutboundFundsCommunity/resources/FundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/FundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_50.py
  robot/OutboundFundsCommunity/resources/locators_51.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding License to Robot files
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFundsCommunity/tests/create_contact.robot
Due: none

Update site prefix
  cumulusci.yml
Due: prettier --write, cspell

Adding License from reivew suggestions.
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  SHORT_VERSION_LICENSE_GUIDELINES.md
  cumulusci.yml
  datasets/mapping.yml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Login.flexipage-meta.xml
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  jest.config.js
  jest.setup.js
  stories/dev/dataset/mapping.yml
  stories/qa/dataset/mapping.yml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/package.xml
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_hero.asset-meta.xml
  unpackaged/pre/template_content_assets/contentassets/GCCS_Foundation_logo.asset-meta.xml
Due: prettier --write, cspell, eslint

Update texts and remove metadeploy label
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Remove double quote from message
  cumulusci.yml
Due: prettier --write, cspell

Change display text for fundseeker_plus_login_profile task
  cumulusci.yml
Due: prettier --write, cspell

Update SVLG md format. Adding Py format
  SHORT_VERSION_LICENSE_GUIDELINES.md
Due: prettier --write, cspell

Adding font name to spell checker
  .cspell.json
Due: prettier --write

Add MetaDeploy strings
  metadeploy/labels_en.json
Due: prettier --write

Updating Home theme layout and template images
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
  force-app/main/default/staticresources/OFMTemplatePreview1.png
  force-app/main/default/staticresources/OFMTemplatePreview1.resource-meta.xml
  force-app/main/default/staticresources/OFMTemplatePreviewTile1.png
  force-app/main/default/staticresources/OFMTemplatePreviewTile1.resource-meta.xml
Due: cspell

Removing white color to display message
  force-app/main/default/flexipages/OFM_Portal_Check_Password.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Forgot_Password.flexipage-meta.xml
Due: cspell

Use install_managed_beta for testing
  cumulusci.yml
Due: prettier --write, cspell

Adding alt message to Login and Registration
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
Due: cspell

Update metadeploy install message
  metadeploy/labels_en.json
Due: prettier --write

Switch primary and secondary installers
  cumulusci.yml
Due: prettier --write, cspell

Updating the template name
  cumulusci.yml
Due: prettier --write, cspell

Remove the update_dependencies from the installer
  cumulusci.yml
Due: prettier --write, cspell

Adding updates based on review
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Default_Hero_2.asset-meta.xml
Due: cspell

Updating content asset name
  cumulusci.yml
  force-app/main/default/flexipages/OFM_Portal_Home.flexipage-meta.xml
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Body.asset
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Body.asset-meta.xml
  unpackaged/pre/template_content_assets/package.xml
Due: prettier --write, cspell

Changing format on Py files as DR recommended
  SHORT_VERSION_LICENSE_GUIDELINES.md
  dev/tasks/communities.py
  dev/tasks/community_templates.py
  dev/tasks/debugger.py
  dev/tasks/namespaces.py
  dev/tasks/sfdx.py
  dev/tasks/tests/test_debugger.py
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityHomePageObject.py
  robot/OutboundFundsCommunity/resources/ContactPageObject.py
  robot/OutboundFundsCommunity/resources/FundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/FundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_50.py
  robot/OutboundFundsCommunity/resources/locators_51.py
  scripts/label_audit.py
  tasks/network_member_group.py
  tasks/tests/test_network_member_group.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Update outbound funds preflight check message
  cumulusci.yml
Due: prettier --write, cspell

Shortening installer titles
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Rename installer (Remove Experience from the name)
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Update preflight check url
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Switch back to install_managed
  cumulusci.yml
Due: prettier --write, cspell

Update url in preflight check
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Add dependency resolutions
  cumulusci.yml
Due: prettier --write, cspell

README states latest release
  README.md
Due: prettier --write, cspell

Adding GCCS Foundation logo and hero to fix beta
  cumulusci.yml
Due: prettier --write, cspell

Updating URL prefix on create flow
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
Due: none

Adding GCCS Foundation logo and hero to fix beta (#38)
  cumulusci.yml
Due: prettier --write, cspell

Enforce LWC Jest code coverage
  .github/workflows/jest.yml
  jest.config.js
Due: prettier --write, cspell, eslint

moved comment
  jest.config.js
Due: prettier --write, cspell, eslint

[W-9142788] Enforce LWC Jest code coverage (#41)
  .github/workflows/jest.yml
  jest.config.js
Due: prettier --write, cspell, eslint

Updated field label color
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
Due: none

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
