Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Add prerelease orgs
  orgs/beta_prerelease.json
  orgs/prerelease.json
Due: prettier --write

Prettier
  README.md
  cumulusci.yml
  datasets/mapping.yml
  orgs/beta.json
  orgs/dev.json
  orgs/feature.json
  orgs/release.json
  sfdx-project.json
Due: prettier --write, cspell

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

Add one component
  force-app/main/default/classes/TestUtils.cls
  force-app/main/default/classes/TestUtils.cls-meta.xml
Due: prettier --write, cspell

Add content asset
  unpackaged/pre/template_content_assets/contentassets/HIVE_Foundation_hero.asset
  unpackaged/pre/template_content_assets/contentassets/HIVE_Foundation_hero.asset-meta.xml
  unpackaged/pre/template_content_assets/contentassets/HIVE_Foundation_logo.asset
  unpackaged/pre/template_content_assets/contentassets/HIVE_Foundation_logo.asset-meta.xml
  unpackaged/pre/template_content_assets/package.xml
Due: cspell

Add content assets for logo
  cumulusci.yml
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
Due: prettier --write, cspell

Update bundle contents
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
Due: cspell

Add communities to org shapes
  orgs/beta.json
  orgs/beta_prerelease.json
  orgs/feature.json
  orgs/prerelease.json
  orgs/release.json
Due: prettier --write

Add communities.py
  dev/tasks/communities.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

python format fixes
  dev/tasks/communities.py
  dev/tasks/community_templates.py
  dev/tasks/debugger.py
  dev/tasks/namespaces.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

updated reqs for pytest and rm unused test
  dev/tasks/tests/test_metadata_etl.py
  requirements.txt
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

placeholder test for pytest pass
  dev/tasks/tests/test_community_templates.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

cleaned up workflows and python test
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/pytest.yml
  dev/tasks/tests/test_community_templates.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

jest workflow modify
  .github/workflows/jest.yml
Due: prettier --write, cspell

Remove unused static resources.
  force-app/main/default/staticresources/SiteSamples.resource-meta.xml
  force-app/main/default/staticresources/SiteSamples/SiteStyles.css
  force-app/main/default/staticresources/SiteSamples/img/clock.png
  force-app/main/default/staticresources/SiteSamples/img/construction.png
  force-app/main/default/staticresources/SiteSamples/img/force_logo.png
  force-app/main/default/staticresources/SiteSamples/img/maintenance.png
  force-app/main/default/staticresources/SiteSamples/img/poweredby.png
  force-app/main/default/staticresources/SiteSamples/img/tools.png
  force-app/main/default/staticresources/SiteSamples/img/unauthorized.png
  force-app/main/default/staticresources/SiteSamples/img/warning.png
Due: cspell

Updated README with team name
  README.md
Due: prettier --write, cspell

Bringing pytests over for custom tasks
  dev/tasks/tests/test_metadata_etl.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Re-adding pytest Github Action
  .github/workflows/pytest.yml
Due: prettier --write, cspell

Pytest for dev.tasks.debugger.log_title
  dev/tasks/tests/test_debugger.py
  dev/tasks/tests/test_metadata_etl.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Automerge Major Release Branches
  cumulusci.yml
Due: prettier --write, cspell

Added Funding Program Object Pages to Site
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  force-app/main/default/communityThemeDefinitions/OFM_Portal.communityThemeDefinition-meta.xml
  force-app/main/default/contentassets/HIVE_Foundation_hero.asset
  force-app/main/default/contentassets/HIVE_Foundation_hero.asset-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Canvasapp_Page.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Program_Detail.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Program_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Program_Related_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Home.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Record_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Related_Record_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Sfdc_Page.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Default.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Login.flexipage-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_User_Profile_Menu.navigationMenu-meta.xml
Due: cspell

Automation creates Site
  cumulusci.yml
Due: prettier --write, cspell

Added Funding Program Object Pages to Site
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  force-app/main/default/communityThemeDefinitions/OFM_Portal.communityThemeDefinition-meta.xml
  force-app/main/default/contentassets/HIVE_Foundation_logo.asset
  force-app/main/default/contentassets/HIVE_Foundation_logo.asset-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Canvasapp_Page.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Create_Record.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Home.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Record_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Related_Record_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Sfdc_Page.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Default.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Login.flexipage-meta.xml
Due: cspell

Automerge Major Release Branches (#4)
  cumulusci.yml
Due: prettier --write, cspell

NavMenus point to template
  force-app/main/default/navigationMenus/OFM_Portal_Default_Navigation.navigationMenu-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_Default_User_Profile_Menu.navigationMenu-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_User_Profile_Menu.navigationMenu-meta.xml
Due: cspell

Adding Fundseeker plus login profile
  cumulusci.yml
  sfdx-project.json
  unpackaged/post/fundseeker_plus_login_profile/package.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Removing profile reference from sfdx-project and updating retirements object FLS permissions.
  sfdx-project.json
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Updating FLS access based on last revision
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: cspell

Updating profile based on the review feedback - Remove outscope standard objects reference. - Remove user premissions. - Remove reference from Account and Contact fields.
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: cspell

Added External Fundseeker Layout for external users
  force-app/main/default/layouts/outfunds__Funding_Program__c-External Fundseeker.layout-meta.xml
Due: cspell

Added dev, qa stories + customer enablement
  cumulusci.yml
  force-app/main/default/navigationMenus/OFM_Portal_User_Profile_Menu.navigationMenu-meta.xml
  orgs/dev.json
  stories/dev/dataset/data.sql
  stories/dev/dataset/mapping.yml
  stories/dev/scripts/reorder_app_menu.apex
  stories/dev/unpackaged/step-1/package.xml
  stories/dev/unpackaged/step-1/sharingRules/outfunds__Funding_Program__c.sharingRules
  stories/qa/scripts/reorder_app_menu.apex
  unpackaged/customer_enablement/navigation_menu/navigationMenus/OFM_Portal_Navigation.navigationMenu
  unpackaged/customer_enablement/navigation_menu/package.xml
Due: prettier --write, cspell

Checking out feature/231 dev.json
  orgs/dev.json
Due: prettier --write

Add funding requests to template
  cumulusci.yml
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  force-app/main/default/communityThemeDefinitions/OFM_Portal.communityThemeDefinition-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Canvasapp_Page.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_Detail.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_Related_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Home.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Record_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Related_Record_List.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Sfdc_Page.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Default.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Login.flexipage-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_FundingProgramPortalNavigation.navigationMenu-meta.xml
Due: prettier --write, cspell

Add GMS task to create network members
  tasks/__init__.py
  tasks/network_member_group.py
  tasks/tests/__init__.py
  tasks/tests/test_network_member_group.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Locked down Funding Program External layout
  force-app/main/default/layouts/outfunds__Funding_Program__c-External Fundseeker.layout-meta.xml
Due: cspell

Fundseeker Login Plus assigns external layout
  unpackaged/fundseeker_customer_enablement/guest_user_profile/package.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
  unpackaged/fundseeker_customer_enablement/navigation_menu/navigationMenus/OFM_Portal_Navigation.navigationMenu
  unpackaged/fundseeker_customer_enablement/navigation_menu/package.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: cspell

Added dev story and fundseeker customer enablement
  cumulusci.yml
  stories/dev/README.md
  stories/dev/dataset/data.sql
  stories/dev/dataset/mapping.yml
  stories/dev/scripts/create_site_users.apex
  stories/dev/scripts/update_scratch_org_user.apex
  stories/dev/unpackaged/step-1/package.xml
  stories/dev/unpackaged/step-1/sharingRules/outfunds__Funding_Program__c.sharingRules
  stories/dev/unpackaged/step_1/layouts/outfunds__Funding_Program__c-outfunds__Funding Program Layout.layout-meta.xml
  stories/dev/unpackaged/step_1/objects/outfunds__Funding_Program__c.object-meta.xml
  stories/dev/unpackaged/step_1/package.xml
  stories/dev/unpackaged/step_1/profiles/Admin.profile-meta.xml
  stories/dev/unpackaged/step_1/sharingRules/outfunds__Funding_Program__c.sharingRules
Due: prettier --write, cspell

dev story includes profile photos and manual sharing
  stories/dev/README.md
  stories/dev/images/photos/AileenDavis.png
  stories/dev/images/photos/GraceWalker.png
  stories/dev/images/readme/AppMenuAfterReordering.png
  stories/dev/scripts/share_funding_programs_with_requests.apex
  stories/dev/unpackaged/funding_programs/layouts/outfunds__Funding_Program__c-outfunds__Funding Program Layout.layout-meta.xml
  stories/dev/unpackaged/funding_programs/objects/outfunds__Funding_Program__c.object-meta.xml
  stories/dev/unpackaged/funding_programs/package.xml
  stories/dev/unpackaged/funding_programs/profiles/Admin.profile-meta.xml
  stories/dev/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
Due: prettier --write, cspell

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
