Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

add fix for robot_lint
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/FundingRequest.robot
Due: none

changes needed to swap create_network_members with cumulus task
  cumulusci.yml
  tasks/network_member_group.py
  tasks/tests/test_network_member_group.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Removing updates from outfunds requirement layout
  force-app/main/default/layouts/outfunds__Requirement__c-outfunds__Requirement Layout.layout-meta.xml
Due: cspell

[ROBOT] Add Funding Request Test Scenarios (#26)
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/FundingRequest.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Update enablement flow
  cumulusci.yml
Due: prettier --write, cspell

Move application_submission flow to post folder
  cumulusci.yml
  unpackaged/post/funding_request_submission/flows/OFMSiteSubmitApplication.flow-meta.xml
  unpackaged/post/funding_request_submission/package.xml
  unpackaged/post/funding_request_submission/quickActions/outfunds__Funding_Request__c.SubmitApplication.quickAction-meta.xml
Due: prettier --write, cspell

Updating Template Definition
  cumulusci.yml
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
Due: prettier --write, cspell

task name modification
  cumulusci.yml
Due: prettier --write, cspell

Update: ContentAssets to OutbundFundsModuleDefault
  cumulusci.yml
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Login.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_Register.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Default_Hero.asset
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Default_Hero.asset-meta.xml
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Default_Logo.asset
  unpackaged/pre/template_content_assets/contentassets/Outbound_Funds_Module_Default_Logo.asset-meta.xml
  unpackaged/pre/template_content_assets/package.xml
Due: prettier --write, cspell

Adding Aura cmp to fix link style issues on login - Adding component to OFM OFM_Portal_themeLayout_Login - Adding changes Steven made on the brandingSet
  force-app/main/default/aura/OFM_loginThemeLayout/OFM_loginThemeLayout.cmp
  force-app/main/default/aura/OFM_loginThemeLayout/OFM_loginThemeLayout.css
  force-app/main/default/aura/OFM_loginThemeLayout/OFM_loginThemeLayout.design
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Login.flexipage-meta.xml
Due: cspell

Rename repository to "OutboundFundsModuleSite" (#25)
  cumulusci.yml
Due: prettier --write, cspell

Update minimum CCI version
  cumulusci.yml
Due: prettier --write, cspell

Throws Exception if returnValue is Type Exception
  force-app/main/default/classes/utils/testUtils/UnitTest.cls
Due: prettier --write, cspell

Added both installers and initial labels
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

update check
  cumulusci.yml
Due: prettier --write, cspell

Github Actions workaround after repository rename
  .github/workflows/python.yml
Due: prettier --write, cspell

Reorder requirements.txt to bust cache
  requirements.txt
Due: none

Github Actions workaround after repository rename (#31)
  .github/workflows/python.yml
  requirements.txt
Due: prettier --write, cspell

Throws Exception if returnValue is Type Exception (#30)
  force-app/main/default/classes/utils/testUtils/UnitTest.cls
Due: prettier --write, cspell

Adding networkBranding
  cumulusci.yml
  stories/dev/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
  stories/qa/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
  unpackaged/fundseeker_customer_enablement/network_branding/networkBranding/cbFundseeker_Portal.networkBranding
  unpackaged/fundseeker_customer_enablement/network_branding/networkBranding/cbFundseeker_Portal.networkBranding-meta.xml
  unpackaged/fundseeker_customer_enablement/network_branding/package.xml
Due: prettier --write, cspell

Adding Open Source License files New files: - LICENSE.txt - CODE_OF_CONDUCT.md - SECURITY.md Update: - README.md
  CODE_OF_CONDUCT.md
  LICENSE.txt
  README.md
  SECURITY.md
Due: prettier --write, cspell

Change template name, portal name.
  cumulusci.yml
  force-app/main/default/communityTemplateDefinitions/OFM_Portal.communityTemplateDefinition-meta.xml
  stories/dev/README.md
  stories/dev/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
  stories/qa/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
  unpackaged/fundseeker_customer_enablement/guest_user_profile/package.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Fundseeker Portal Profile.profile-meta.xml
Due: prettier --write, cspell

Adding License to Classes
  force-app/main/default/classes/files/FileController.cls
  force-app/main/default/classes/files/FileController.cls-meta.xml
  force-app/main/default/classes/files/FileSelector.cls
  force-app/main/default/classes/files/FileSelector.cls-meta.xml
  force-app/main/default/classes/files/FileService.cls
  force-app/main/default/classes/files/FileService.cls-meta.xml
  force-app/main/default/classes/files/tests/FileController_TEST.cls
  force-app/main/default/classes/files/tests/FileController_TEST.cls-meta.xml
  force-app/main/default/classes/files/tests/FileSelector_TEST.cls
  force-app/main/default/classes/files/tests/FileSelector_TEST.cls-meta.xml
  force-app/main/default/classes/files/tests/FileService_TEST.cls
  force-app/main/default/classes/files/tests/FileService_TEST.cls-meta.xml
  force-app/main/default/classes/services/DatabaseService.cls
  force-app/main/default/classes/services/DatabaseService.cls-meta.xml
  force-app/main/default/classes/services/tests/DatabaseService_TEST.cls
  force-app/main/default/classes/services/tests/DatabaseService_TEST.cls-meta.xml
  force-app/main/default/classes/utils/testUtils/TestUser.cls
  force-app/main/default/classes/utils/testUtils/TestUser.cls-meta.xml
  force-app/main/default/classes/utils/testUtils/UnitTest.cls
  force-app/main/default/classes/utils/testUtils/UnitTest.cls-meta.xml
Due: prettier --write, cspell

Update labels
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Add preflight check that verifies if a site with the same name already exists
  cumulusci.yml
  metadeploy/labels_en.json
Due: prettier --write, cspell

Add OFM Funding Prog Relarted List
  force-app/main/default/flexipages/OFM_Portal_Funding_Program_Related_List.flexipage-meta.xml
Due: cspell

Adding license to Lightning Web Components
  force-app/main/default/lwc/__mocks__/lightning/navigation.js
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
  force-app/main/default/lwc/communityFileManager/communityFileManager.css
  force-app/main/default/lwc/communityFileManager/communityFileManager.html
  force-app/main/default/lwc/communityFileManager/communityFileManager.js
  force-app/main/default/lwc/communityFileManager/communityFileManager.js-meta.xml
  force-app/main/default/lwc/flowNavigateToRecord/__tests__/flowNavigationToRecord.test.js
  force-app/main/default/lwc/flowNavigateToRecord/flowNavigateToRecord.js
  force-app/main/default/lwc/flowNavigateToRecord/flowNavigateToRecord.js-meta.xml
  force-app/main/default/lwc/modal/__mocks__/modal.js
  force-app/main/default/lwc/modal/__tests__/modal.test.js
  force-app/main/default/lwc/modal/modal.css
  force-app/main/default/lwc/modal/modal.html
  force-app/main/default/lwc/modal/modal.js
  force-app/main/default/lwc/modal/modal.js-meta.xml
  force-app/main/default/lwc/util/__tests__/util.test.js
  force-app/main/default/lwc/util/util.js
  force-app/main/default/lwc/util/util.js-meta.xml
Due: prettier --write, cspell, eslint

Add task for network check
  cumulusci.yml
Due: prettier --write, cspell

Change to install_managed
  cumulusci.yml
Due: prettier --write, cspell

Mark one plan secondary
  cumulusci.yml
Due: prettier --write, cspell

Adding License to unpackaged - fundseeker_customer_enablement - application_submission - guest_user_profile - sharingsets
  unpackaged/fundseeker_customer_enablement/application_submission/flows/OFMSiteSubmitApplication.flow-meta.xml
  unpackaged/fundseeker_customer_enablement/application_submission/package.xml
  unpackaged/fundseeker_customer_enablement/application_submission/quickActions/outfunds__Funding_Request__c.SubmitApplication.quickAction-meta.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
  unpackaged/post/Submit_Requirement_flow/flows/OFMSubmitRequirement.flow
  unpackaged/post/Submit_Requirement_flow/package.xml
  unpackaged/post/Submit_Requirement_flow/quickActions/outfunds__Requirement__c.Submit.quickAction-meta.xml
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
  unpackaged/post/funding_program_application_flow/package.xml
  unpackaged/post/funding_program_application_flow/quickActions/outfunds__Funding_Program__c.Apply.quickAction-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/package.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
  unpackaged/pre/template_content_assets/package.xml
Due: cspell

Adding unpackage sharingset
  unpackaged/fundseeker_customer_enablement/sharing_set/package.xml
  unpackaged/fundseeker_customer_enablement/sharing_set/sharingSets/FundseekerSharing.sharingSet-meta.xml
Due: cspell

Add description for Submit Requirement step
  cumulusci.yml
  unpackaged/post/funding_request_submission_flow/flows/OFMSiteSubmitApplication.flow-meta.xml
  unpackaged/post/funding_request_submission_flow/package.xml
  unpackaged/post/funding_request_submission_flow/quickActions/outfunds__Funding_Request__c.SubmitApplication.quickAction-meta.xml
Due: prettier --write, cspell

Add submit requirement label
  metadeploy/labels_en.json
Due: prettier --write

Adding License to Stories Common, Dev, and QA
  stories/common/scripts/create_site_users.apex
  stories/common/scripts/reorder_app_menu.apex
  stories/common/scripts/share_funding_programs_with_requests.apex
  stories/common/scripts/update_scratch_org_user.apex
  stories/dev/unpackaged/funding_programs/layouts/outfunds__Funding_Program__c-outfunds__Funding Program Layout.layout-meta.xml
  stories/dev/unpackaged/funding_programs/objects/outfunds__Funding_Program__c.object-meta.xml
  stories/dev/unpackaged/funding_programs/package.xml
  stories/dev/unpackaged/funding_programs/profiles/Admin.profile-meta.xml
  stories/dev/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
  stories/qa/unpackaged/funding_programs/layouts/outfunds__Funding_Program__c-outfunds__Funding Program Layout.layout-meta.xml
  stories/qa/unpackaged/funding_programs/objects/outfunds__Funding_Program__c.object-meta.xml
  stories/qa/unpackaged/funding_programs/package.xml
  stories/qa/unpackaged/funding_programs/profiles/Admin.profile-meta.xml
  stories/qa/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
Due: prettier --write, cspell

W-9045926: Swap create_network_members task reference after CCI Update April 1 (#28)
  cumulusci.yml
  tasks/network_member_group.py
  tasks/tests/test_network_member_group.py
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding License to Dev python files
  dev/tasks/communities.py
  dev/tasks/community_templates.py
  dev/tasks/debugger.py
  dev/tasks/namespaces.py
  dev/tasks/sfdx.py
  dev/tasks/tests/test_debugger.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding License to Script (Shell scripts)
  scripts/install-pre-commit.sh
  scripts/label_audit.py
  scripts/pre-commit.sh
  scripts/update-dependencies.sh
  scripts/update-python-dependencies.sh
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding license to Task (Python Files)
  tasks/network_member_group.py
  tasks/tests/test_network_member_group.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
