Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Removing filterlogic from flow
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
Due: none

Rename Quick Action based on Annie's feedback
  unpackaged/post/Submit_Requirement_flow/quickActions/outfunds__Requirement__c.Submit.quickAction-meta.xml
Due: cspell

[ROBOT] Automation for Funding Program Test Scenarios (#18)
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/resources/BaseObjects.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/FundingProgram.robot
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

Renaming field to ofm_Is_Add_Files_Visible__c
  force-app/main/default/lwc/communityFileManager/communityFileManager.js
  force-app/main/default/lwc/util/__tests__/util.test.js
  force-app/main/default/lwc/util/util.js
  force-app/main/default/objects/outfunds__Requirement__c/fields/ofm_Is_Add_Files_Visible__c.field-meta.xml
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell, eslint

Fixing Util test format
  force-app/main/default/lwc/util/__tests__/util.test.js
Due: prettier --write, cspell, eslint

Adding namespace token on flow
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
Due: none

Updating SubmitRequirement flow
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
Due: none

Adding DatabaseService class
  force-app/main/default/classes/services/DatabaseService.cls
Due: prettier --write, cspell

ignoring contentassets in uninstall_packaged_incremental
  cumulusci.yml
Due: prettier --write, cspell

ignorning specific content type metadata
  cumulusci.yml
Due: prettier --write, cspell

add test for authenticated user
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityHomePageObject.py
  robot/OutboundFundsCommunity/resources/ContactPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Updating "Is Add Files Visible" api name
  force-app/main/default/lwc/communityFileManager/communityFileManager.js
  force-app/main/default/lwc/util/__tests__/util.test.js
  force-app/main/default/lwc/util/util.js
  force-app/main/default/objects/outfunds__Requirement__c/fields/IsAddFilesVisible__c.field-meta.xml
  unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell, eslint

Updatring util test js file format
  force-app/main/default/lwc/util/__tests__/util.test.js
Due: prettier --write, cspell, eslint

ignoring contentassets in uninstall_packaged_incremental (#20)
  cumulusci.yml
Due: prettier --write, cspell

fix for contact tests
  robot/OutboundFundsCommunity/tests/create_contact.robot
Due: none

Updating classes reference for communityFileManager lwc
  force-app/main/default/classes/files/FileController.cls
  force-app/main/default/classes/files/FileService.cls
  force-app/main/default/classes/files/tests/FileController_TEST.cls
  force-app/main/default/classes/files/tests/FileSelector_TEST.cls
  force-app/main/default/classes/files/tests/FileService_TEST.cls
  force-app/main/default/classes/services/SecurityService.cls
  force-app/main/default/classes/services/tests/DatabaseService_TEST.cls
  force-app/main/default/classes/services/tests/SecurityService_TEST.cls
  force-app/main/default/classes/services/tests/SecurityService_TEST.cls-meta.xml
  force-app/main/default/classes/utils/basicStub/BasicStub.cls
  force-app/main/default/classes/utils/basicStub/BasicStub.cls-meta.xml
  force-app/main/default/classes/utils/testUtils/TestUser.cls
  force-app/main/default/classes/utils/testUtils/TestUtils.cls
  force-app/main/default/classes/utils/testUtils/TestUtils.cls-meta.xml
  force-app/main/default/classes/utils/testUtils/UnitTest.cls
  force-app/main/default/classes/utils/testUtils/UnitTest.cls-meta.xml
  force-app/main/default/classes/utils/unitTest/UnitTest.cls-meta.xml
Due: prettier --write, cspell

Fixing file format
  force-app/main/default/classes/files/FileController.cls
  force-app/main/default/classes/files/tests/FileController_TEST.cls
  force-app/main/default/classes/files/tests/FileSelector_TEST.cls
Due: prettier --write, cspell

Updating FileService_Test Class
  force-app/main/default/classes/files/tests/FileService_TEST.cls
Due: prettier --write, cspell

Fixing format on FileService_Test
  force-app/main/default/classes/files/tests/FileService_TEST.cls
Due: prettier --write, cspell

Fixing FileService_TEST format
  force-app/main/default/classes/files/tests/FileService_TEST.cls
Due: prettier --write, cspell

Updating contentDocumentLinksToDelete name
  force-app/main/default/classes/files/FileService.cls
Due: prettier --write, cspell

Updating resource library
  robot/OutboundFundsCommunity/tests/create_contact.robot
Due: none

updated uninstall_packaged_incremental for asset renames
  cumulusci.yml
Due: prettier --write, cspell

[ROBOT] Apply to Funding Program (#22)
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityHomePageObject.py
  robot/OutboundFundsCommunity/resources/ContactPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
  robot/OutboundFundsCommunity/tests/create_contact.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding DatabaseService class (#19)
  force-app/main/default/classes/files/FileController.cls
  force-app/main/default/classes/files/FileService.cls
  force-app/main/default/classes/files/tests/FileController_TEST.cls
  force-app/main/default/classes/files/tests/FileSelector_TEST.cls
  force-app/main/default/classes/files/tests/FileService_TEST.cls
  force-app/main/default/classes/services/DatabaseService.cls
  force-app/main/default/classes/services/SecurityService.cls
  force-app/main/default/classes/services/tests/DatabaseService_TEST.cls
  force-app/main/default/classes/services/tests/SecurityService_TEST.cls
  force-app/main/default/classes/services/tests/SecurityService_TEST.cls-meta.xml
  force-app/main/default/classes/utils/basicStub/BasicStub.cls
  force-app/main/default/classes/utils/basicStub/BasicStub.cls-meta.xml
  force-app/main/default/classes/utils/testUtils/TestUser.cls
  force-app/main/default/classes/utils/testUtils/TestUtils.cls
  force-app/main/default/classes/utils/testUtils/TestUtils.cls-meta.xml
  force-app/main/default/classes/utils/testUtils/UnitTest.cls
  force-app/main/default/classes/utils/testUtils/UnitTest.cls-meta.xml
  force-app/main/default/classes/utils/unitTest/UnitTest.cls-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Adding run_tests to cumulusci.yml
  cumulusci.yml
Due: prettier --write, cspell

[Robot] Fixing robot_lint errors and warnings
  robot/OutboundFundsCommunity/doc/Keywords.html
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFundsCommunity/tests/create_contact.robot
Due: prettier --write, cspell

fixing lint errors
  robot/OutboundFundsCommunity/doc/Keywords.html
Due: prettier --write, cspell

Adding changes from Feedback
  cumulusci.yml
  force-app/main/default/classes/files/FileSelector.cls
  force-app/main/default/classes/files/FileService.cls
  force-app/main/default/classes/files/tests/FileService_TEST.cls
Due: prettier --write, cspell

Removing unsused custom labels
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Due: cspell

Adding communityFileManager Test
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
  force-app/main/default/lwc/communityFileManager/__tests__/data/getHideFilesRequirement.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getRecordFiles.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getShowFilesRequirement.json
  force-app/main/default/lwc/communityFileManager/__tests__/data/getUnownedFiles.json
Due: prettier --write, cspell, eslint

Updating jest.config.js file
  jest.config.js
Due: prettier --write, cspell, eslint

Updating communityFileManager test format
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
Due: prettier --write, cspell, eslint

Rename repository to "OutboundFundsModuleSite"
  cumulusci.yml
Due: prettier --write, cspell

Updating communityFileManager test ESLint dasible
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
Due: prettier --write, cspell, eslint

Adding comments for ESLint rule disabled
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
Due: prettier --write, cspell, eslint

Updating comments communityFileManager test
  force-app/main/default/lwc/communityFileManager/__tests__/communityFileManager.test.js
Due: prettier --write, cspell, eslint

Removing comments
  force-app/main/default/classes/files/tests/FileService_TEST.cls
  jest.config.js
Due: prettier --write, cspell, eslint

Add funding request test scenarios
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/FundingRequest.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
