Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

.lintstagedrc:

{
    "*.{cls,apex,js,html,md,yml,yaml,json}": [
        "prettier --write"
    ],
    "*.{cls,apex,js,html,md,xml,sql,py,yml,yaml}": [
        "cspell"
    ],
    "*.js": [
        "eslint"
    ],
    "*.py": [
        "venv/bin/black --check --diff",
        "venv/bin/flake8"
    ],
    "yarn.lock": [
        "lockfile-lint"
    ]
}

auto layout
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
Due: none

Change submit requirement dir to lowercase
  unpackaged/post/submit_requirement_flow/flows/OFMSubmitRequirement.flow
  unpackaged/post/submit_requirement_flow/package.xml
  unpackaged/post/submit_requirement_flow/quickActions/outfunds__Requirement__c.Submit.quickAction-meta.xml
Due: cspell

Change submit requirement dir to lowercase (#43)
  unpackaged/post/submit_requirement_flow/flows/OFMSubmitRequirement.flow
  unpackaged/post/submit_requirement_flow/package.xml
  unpackaged/post/submit_requirement_flow/quickActions/outfunds__Requirement__c.Submit.quickAction-meta.xml
Due: cspell

W-9081457 - Color Contrast in OFM Sites Flow (#42)
  unpackaged/post/funding_program_application_flow/flows/OFMSiteCreateApplication.flow
Due: none

Swap release edition to Developer
  orgs/release.json
Due: prettier --write

Add strings
  metadeploy/labels_en.json
Due: prettier --write

Add org declarations to cumulusci
  cumulusci.yml
Due: prettier --write, cspell

adding prerelease locators
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_50.py
  robot/OutboundFundsCommunity/resources/locators_51.py
  robot/OutboundFundsCommunity/resources/locators_52.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fixing prettier errors
  README.md
  force-app/main/default/lwc/modal/modal.css
Due: prettier --write, cspell

added quick action layout tasks and steps for qa_org
  cumulusci.yml
Due: prettier --write, cspell

Pseudo German translations for OutboundFundsModuleSite
  force-app/main/default/objectTranslations/outfunds__Disbursement__c-de/outfunds__Disbursement__c-de.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/outfunds__Funding_Program__c-de/outfunds__Funding_Program__c-de.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/outfunds__Funding_Request__c-de/outfunds__Funding_Request__c-de.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/outfunds__Requirement__c-de/IsAddFilesVisible__c.fieldTranslation-meta.xml
  force-app/main/default/objectTranslations/outfunds__Requirement__c-de/outfunds__Requirement__c-de.objectTranslation-meta.xml
  force-app/main/default/translations/de.translation-meta.xml
Due: cspell

Add quick action buttons to page layouts on qa_org and dev_org flows
  cumulusci.yml
Due: prettier --write, cspell

Fix ReadMe formatting issue
  README.md
Due: prettier --write, cspell

Add quick action buttons to page layouts on qa_org and dev_org flows (#50)
  cumulusci.yml
Due: prettier --write, cspell

adding quick action tasks to customer enablement install plan
  cumulusci.yml
Due: prettier --write, cspell

Robot - Apply for a Funding Program as Grace
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityHomePageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_52.py
  robot/OutboundFundsCommunity/test_data/requirement.txt
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fixing lint errors
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

add qa story telling data for qa_org
  cumulusci.yml
  stories/qa/dataset/data.sql
  stories/qa/dataset/mapping.yml
  stories/qa/scripts/qa_create_site_users.apex
Due: prettier --write, cspell

fix prettier
  stories/qa/scripts/qa_create_site_users.apex
Due: prettier --write, cspell

prettier fix
  cumulusci.yml
Due: prettier --write, cspell

Update QA story-telling data (#56)
  cumulusci.yml
  stories/qa/dataset/data.sql
  stories/qa/dataset/mapping.yml
  stories/qa/scripts/qa_create_site_users.apex
Due: prettier --write, cspell

Adding Disbursements Test
  robot/OutboundFundsCommunity/resources/DisbursementsPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_52.py
  robot/OutboundFundsCommunity/tests/browser/Disbursements/Disbursements.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding missing keyword
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding Validations
  robot/OutboundFundsCommunity/resources/locators_52.py
  robot/OutboundFundsCommunity/tests/browser/Disbursements/Disbursements.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Adding Validations
  robot/OutboundFundsCommunity/tests/browser/Disbursements/Disbursements.robot
Due: none

Robot - Submit Requirement
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityRequirementPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_52.py
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Robot - Submit Requirement
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/locators_52.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Add upgrade installer
  cumulusci.yml
Due: prettier --write, cspell

fixed failing test
  robot/OutboundFundsCommunity/resources/CommunityRequirementPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/tests/browser/FundingProgram/CommunityFundingProgram.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fixing black errors
  robot/OutboundFundsCommunity/resources/CommunityRequirementPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fixing errors
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: none

fixing errors
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: none

Adding Funding Request Tests
  robot/OutboundFundsCommunity/resources/CommunityFundingProgramPageObject.py
  robot/OutboundFundsCommunity/resources/CommunityFundingRequestPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_52.py
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Add upgrade installer (#60)
  cumulusci.yml
Due: prettier --write, cspell

fixing test
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
Due: none

Update keywords for chrome v91 fix
  robot/OutboundFundsCommunity/resources/CommunityRequirementPageObject.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

passing Robot Walker as contact
  robot/OutboundFundsCommunity/tests/browser/Disbursements/Disbursements.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Requirements/SubmitRequirement.robot
Due: none

updating locatorss
  robot/OutboundFundsCommunity/resources/locators_52.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Verify Submit Application email received
  robot/OutboundFundsCommunity/resources/Email.py
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
  robot/OutboundFundsCommunity/resources/locators_52.py
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8
