Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Fundseeking enablement deploys sharing set
  unpackaged/fundseeker_customer_enablement/navigation_menu/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
  unpackaged/fundseeker_customer_enablement/sharing_set/package.xml
  unpackaged/fundseeker_customer_enablement/sharing_set/sharingSets/Fundseeker.sharingSet-meta.xml
Due: cspell

dev story has profile photos and manual sharing
  cumulusci.yml
Due: prettier --write, cspell

Fixed dev_share_funding_programs_with_accounts_with_funding_requests
  cumulusci.yml
Due: prettier --write, cspell

Updated Site Funding Program Detail
  force-app/main/default/flexipages/OFM_Portal_Funding_Program_Detail.flexipage-meta.xml
Due: cspell

Adds README for dev story
  stories/dev/README.md
Due: prettier --write, cspell

Add changing the default navigation menu
  cumulusci.yml
  force-app/main/default/layouts/outfunds__Funding_Request__c-Funding Request Community Default.layout-meta.xml
  force-app/main/default/navigationMenus/OFM_Portal_FundingProgramPortalNavigation.navigationMenu-meta.xml
  orgs/beta.json
  orgs/beta_prerelease.json
  orgs/dev.json
  orgs/feature.json
  orgs/prerelease.json
  orgs/release.json
  unpackaged/fundseeker_customer_enablement/fundseeker_sharing_set/package.xml
  unpackaged/fundseeker_customer_enablement/fundseeker_sharing_set/sharingSets/Fundseeker.sharingSet
  unpackaged/fundseeker_customer_enablement/navigation_menu/navigationMenus/OFM_Portal_Navigation.navigationMenu
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Description explains Guest User recommended config
  cumulusci.yml
Due: prettier --write, cspell

dev_2gp and qa_2gp scratch org defs
  cumulusci.yml
Due: prettier --write, cspell

Remove content assets from package
  force-app/main/default/contentassets/HIVE_Foundation_hero.asset
  force-app/main/default/contentassets/HIVE_Foundation_hero.asset-meta.xml
  force-app/main/default/contentassets/HIVE_Foundation_logo.asset
  force-app/main/default/contentassets/HIVE_Foundation_logo.asset-meta.xml
Due: cspell

Should be unchanged from feature/231
  force-app/main/default/brandingSets/OFM_Portal.brandingSet-meta.xml
  force-app/main/default/communityThemeDefinitions/OFM_Portal.communityThemeDefinition-meta.xml
  force-app/main/default/contentassets/HIVE_Foundation_hero.asset
  force-app/main/default/contentassets/HIVE_Foundation_hero.asset-meta.xml
  force-app/main/default/contentassets/HIVE_Foundation_logo.asset
  force-app/main/default/contentassets/HIVE_Foundation_logo.asset-meta.xml
Due: cspell

Reset parts to feature/231
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Default.flexipage-meta.xml
  force-app/main/default/flexipages/OFM_Portal_themeLayout_Home.flexipage-meta.xml
Due: cspell

Fixing broken image in README
  stories/dev/README.md
Due: prettier --write, cspell

[W-8789192] - Add Fundseeker plus login profile for communities users (#6)
  cumulusci.yml
  unpackaged/post/fundseeker_plus_login_profile/package.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Update stories/dev/README.md
  stories/dev/README.md
Due: prettier --write, cspell

Trying NavMenu as packaged
  cumulusci.yml
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
Due: prettier --write, cspell

Removing namespace from NavMenu List View
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
Due: cspell

Packaging Funding Programs List View for Site
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
  force-app/main/default/objects/outfunds__Funding_Program__c/listViews/SiteFundingPrograms.listView-meta.xml
Due: cspell

Update formatting on cumulusci
  cumulusci.yml
Due: prettier --write, cspell

Not specifiying FundProg List View in NavMenu
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
Due: cspell

Removing List View since Site doesn't need it
  force-app/main/default/objects/outfunds__Funding_Program__c/listViews/SiteFundingPrograms.listView-meta.xml
Due: cspell

Package NavMenu without default List View(#10)
  cumulusci.yml
  force-app/main/default/navigationMenus/OFM_Portal_Navigation.navigationMenu-meta.xml
Due: prettier --write, cspell

Replace detail with Record detail
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_Detail.flexipage-meta.xml
Due: cspell

qa story is a clone of dev story
  cumulusci.yml
  stories/qa/README.md
  stories/qa/dataset/data.sql
  stories/qa/dataset/mapping.yml
  stories/qa/images/photos/AileenDavis.png
  stories/qa/images/photos/GraceWalker.png
  stories/qa/images/readme/AppMenuAfterReordering.png
  stories/qa/scripts/create_site_users.apex
  stories/qa/scripts/share_funding_programs_with_requests.apex
  stories/qa/scripts/update_scratch_org_user.apex
  stories/qa/unpackaged/funding_programs/layouts/outfunds__Funding_Program__c-outfunds__Funding Program Layout.layout-meta.xml
  stories/qa/unpackaged/funding_programs/objects/outfunds__Funding_Program__c.object-meta.xml
  stories/qa/unpackaged/funding_programs/package.xml
  stories/qa/unpackaged/funding_programs/profiles/Admin.profile-meta.xml
  stories/qa/unpackaged/funding_programs/sharingRules/outfunds__Funding_Program__c.sharingRules
Due: prettier --write, cspell

Updated READMEs
  stories/dev/README.md
  stories/qa/README.md
Due: prettier --write, cspell

qa story creates site user for Devon Berger
  cumulusci.yml
Due: prettier --write, cspell

Moving common automation to stories/common
  cumulusci.yml
  stories/common/images/photos/AileenDavis.png
  stories/common/images/photos/GraceWalker.png
  stories/common/images/readme/AppMenuAfterReordering.png
  stories/common/scripts/create_site_users.apex
  stories/common/scripts/reorder_app_menu.apex
  stories/common/scripts/share_funding_programs_with_requests.apex
  stories/common/scripts/update_scratch_org_user.apex
  stories/dev/README.md
  stories/qa/README.md
  stories/qa/images/photos/AileenDavis.png
  stories/qa/images/photos/GraceWalker.png
  stories/qa/readme/AppMenuAfterReordering.png
  stories/qa/scripts/create_site_users.apex
  stories/qa/scripts/reorder_app_menu.apex
  stories/qa/scripts/share_funding_programs_with_requests.apex
  stories/qa/scripts/update_scratch_org_user.apex
Due: prettier --write, cspell

Updated storytelling data for bucket account
  stories/dev/dataset/data.sql
  stories/qa/dataset/data.sql
Due: cspell

removing cci org shapes
  cumulusci.yml
Due: prettier --write, cspell

Adding Apply Button components
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButton.cmp
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButton.cmp-meta.xml
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButton.design
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButtonController.js
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButtonHelper.js
  force-app/main/default/classes/controllers/FundingProgramApplyButtonController.cls
  force-app/main/default/classes/controllers/FundingProgramApplyButtonController.cls-meta.xml
  force-app/main/default/classes/controllers/tests/FundingProgramApplyButtonController_TEST.cls
  force-app/main/default/classes/controllers/tests/FundingProgramApplyButtonController_TEST.cls-meta.xml
  force-app/main/default/classes/testUtils/TestUser.cls
  force-app/main/default/classes/testUtils/TestUser.cls-meta.xml
  force-app/main/default/flows/OutboundFundsCreateApplication.flow-meta.xml
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/__mocks__/lightning/flowSupport.js
  force-app/main/default/lwc/__mocks__/lightning/navigation.js
  force-app/main/default/lwc/flowNavigateToRecord/__tests__/flowNavigationToRecord.test.js
  force-app/main/default/lwc/flowNavigateToRecord/flowNavigateToRecord.js
  force-app/main/default/lwc/flowNavigateToRecord/flowNavigateToRecord.js-meta.xml
  force-app/main/default/objects/outfunds__Funding_Program__c/fields/ApplicationForm__c.field-meta.xml
Due: prettier --write, cspell, eslint

updating flows location and removing js logs
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButtonController.js
  force-app/main/default/objects/outfunds__Funding_Program__c/fields/ApplicationForm__c.field-meta.xml
  unpackaged/post/funding_program_application_flow/flows/OutboundFundsCreateApplication.flow
  unpackaged/post/funding_program_application_flow/package.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell, eslint

Adding namespace prefix to flow
  unpackaged/post/funding_program_application_flow/flows/OutboundFundsCreateApplication.flow
Due: none

Adding story telling data and OFM FP flexipage
  force-app/main/default/flexipages/OFM_Portal_Funding_Program_Detail.flexipage-meta.xml
  stories/dev/dataset/data.sql
  stories/dev/dataset/mapping.yml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Removing GMS Permset reference
  force-app/main/default/aura/FundingProgramApplicationLaunchButton/FundingProgramApplicationLaunchButton.cmp
Due: none

Adds "External Fundseeker" Layout for Requirement
  force-app/main/default/layouts/outfunds__Requirement__c-External Fundseeker.layout-meta.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: cspell

Adds Disbursement layout for external fundseekers
  force-app/main/default/layouts/outfunds__Disbursement__c-External Fundseeker.layout-meta.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: cspell

Added OFM Site Layouts: Disbursement, Requirement
  force-app/main/default/layouts/outfunds__Disbursement__c-OFM Disbursement Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Funding_Program__c-OFM Funding Program Site Layout.layout-meta.xml
  force-app/main/default/layouts/outfunds__Requirement__c-OFM Requirement Site Layout.layout-meta.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: cspell

SharingSet shares requirement; renamed
  unpackaged/fundseeker_customer_enablement/sharing_set/sharingSets/FundseekerSharing.sharingSet-meta.xml
Due: cspell

Fix sharing set package.xml
  unpackaged/fundseeker_customer_enablement/sharing_set/package.xml
Due: cspell

Change Funding Request external layout name
  cumulusci.yml
  force-app/main/default/layouts/outfunds__Funding_Request__c-OFM Funding Request Site Layout.layout-meta.xml
  unpackaged/fundseeker_customer_enablement/guest_user_profile/profiles/Outbound Funds Portal Profile.profile-meta.xml
  unpackaged/post/fundseeker_plus_login_profile/profiles/Fundseeker Plus Login.profile-meta.xml
Due: prettier --write, cspell

Adding “Instructions for applying” text on layout
  force-app/main/default/flexipages/OFM_Portal_Funding_Request_Detail.flexipage-meta.xml
Due: cspell

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
