Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

.lintstagedrc:

{
    "*.{cls,apex,js,html,md,yml,yaml,json}": [
        "prettier --write"
    ],
    "*.{cls,apex,js,html,md,xml,sql,py,yml,yaml}": [
        "cspell"
    ],
    "*.js": [
        "eslint"
    ],
    "*.py": [
        "venv/bin/black --check --diff",
        "venv/bin/flake8"
    ],
    "yarn.lock": [
        "lockfile-lint"
    ]
}

fix for guest user home page
  robot/OutboundFundsCommunity/resources/GuestUserPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fix for guest user page
  robot/OutboundFundsCommunity/resources/GuestUserPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

black fixes
  robot/OutboundFundsCommunity/resources/GuestUserPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fix guest portal user page
  robot/OutboundFundsCommunity/resources/GuestUserPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fix guest portal user
  robot/OutboundFundsCommunity/resources/GuestUserPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

add new page objects
  robot/OutboundFundsCommunity/resources/CommunityLoginPageObject.py
  robot/OutboundFundsCommunity/resources/CommunitySelfRegisterPageObject.py
  robot/OutboundFundsCommunity/resources/locators_52.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

black/lint fixes
  robot/OutboundFundsCommunity/resources/CommunityLoginPageObject.py
  robot/OutboundFundsCommunity/resources/CommunitySelfRegisterPageObject.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

fix user creation
  stories/qa/scripts/qa_create_site_users.apex
Due: prettier --write, cspell

fix user creation
  robot/OutboundFundsCommunity/resources/Email.py
  stories/qa/scripts/qa_create_site_users.apex
Due: prettier --write, cspell, venv/bin/black --check --diff, venv/bin/flake8

change username query
  robot/OutboundFundsCommunity/resources/OutboundFundsCommunity.robot
Due: none

remove submit app email test
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
Due: none

Rename MetaDeploy translation file
  metadeploy/labels_en-GB.json
Due: prettier --write

Rename MetaDeploy translation file (#73)
  metadeploy/labels_en-GB.json
Due: prettier --write

Creating 238 branch
  README.md
Due: prettier --write, cspell

.forceignore fix
  .forceignore
Due: none

installer page group link updates
  README.md
  cumulusci.yml
  metadeploy/labels_de.json
  metadeploy/labels_en-GB.json
  metadeploy/labels_en.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write, cspell

Update README.md
  README.md
Due: prettier --write, cspell

Update cumulusci.yml
  cumulusci.yml
Due: prettier --write, cspell
