Repository SalesforceFoundation/OutboundFundsModuleSite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint, venv/bin/black --check --diff, venv/bin/flake8, lockfile-lint

Updated Progress bar color to meet WCAG 2.1
  force-app/main/default/lwc/communityFileManager/communityFileManager.js
  force-app/main/default/staticresources/customProgressBar.css
  force-app/main/default/staticresources/customProgressBar.resource-meta.xml
Due: prettier --write, cspell, eslint

Update communityFileManager.js
  force-app/main/default/lwc/communityFileManager/communityFileManager.js
Due: prettier --write, cspell, eslint

CODEOWNERS Asterisk Fix
  .github/CODEOWNERS
Due: none

Adding Valid CodeOwners file !!
  .github/CODEOWNERS
Due: none

Create CODEOWNERS
  CODEOWNERS
Due: none

@W-14688867: Update CODEOWNERS
  CODEOWNERS
Due: none

@W-14688867: Add CODEOWNERS (#103)
  CODEOWNERS
Due: none

@W-14688867: Add CODEOWNERS (#103)
  CODEOWNERS
  robot/OutboundFundsCommunity/resources/Email.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Remove endpoint from file
  .gitignore
Due: none

Remove testmail key from robot tests
  robot/OutboundFundsCommunity/resources/Email.py
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Password/Password.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Update to use private runners
  .github/workflows/cspell.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/label_audit.yml
  .github/workflows/lockfile-lint.yml
  .github/workflows/prettier.yml
  .github/workflows/pytest.yml
  .github/workflows/python.yml
Due: prettier --write, cspell

Update unnecessary text so the jobs restart
  .github/workflows/label_audit.yml
Due: prettier --write, cspell

Update codeowners
  .github/CODEOWNERS
  robot/OutboundFundsCommunity/resources/Email.py
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Meaningless update to restart builds
  .github/CODEOWNERS
Due: none

Unncessary updates to restart builds
  .github/CODEOWNERS
Due: none

Use private GitHub Actions runners (#108)
  .github/CODEOWNERS
  .github/workflows/cspell.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/label_audit.yml
  .github/workflows/lockfile-lint.yml
  .github/workflows/prettier.yml
  .github/workflows/pytest.yml
  .github/workflows/python.yml
Due: prettier --write, cspell

W-14729590: Remove testmail key from robot tests (#107)
  .github/CODEOWNERS
  robot/OutboundFundsCommunity/resources/Email.py
  robot/OutboundFundsCommunity/tests/browser/FundingRequest/CommunityFundingRequest.robot
  robot/OutboundFundsCommunity/tests/browser/Password/Password.robot
Due: cspell, venv/bin/black --check --diff, venv/bin/flake8

Updates latest release for 240
  README.md
Due: prettier --write, cspell

Update cumulusci.yml with EMU organization
  cumulusci.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/cspell.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/eslint.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/jest.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/label_audit.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/lockfile-lint.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/prettier.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/pytest.yml
Due: prettier --write, cspell

Update GitHub Actions versions
  .github/workflows/python.yml
Due: prettier --write, cspell

Apply suggestions from code review
  .github/workflows/cspell.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/lockfile-lint.yml
  .github/workflows/prettier.yml
Due: prettier --write, cspell

Emu Migration code owners update
  .github/CODEOWNERS
Due: none

Add OSS required files
  CONTRIBUTING.md
Due: prettier --write, cspell

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml}
  eslint: any of: *.js
  venv/bin/black --check --diff: any of: *.py
  venv/bin/flake8: any of: *.py
  lockfile-lint: any of: yarn.lock
